@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

/* Add CSS to color code the cells based on completion frequency */
.color-empty {
    fill: #ebedf0;
}

.color-scale-1 {
    fill: #8bbfe4;
}

.color-scale-2 {
    fill: #6fabc9;
}

.color-scale-3 {
    fill: #236c9a;
}

.color-scale-4 {
    fill: #195761;
}

